button{
    background-color: #592C7B;
    color: white;
    border-radius: 7px;
    padding: 10px;
    font-size: larger;
}
.container{
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
#doctor{
    width:auto;
    height: 350px;
    padding-bottom: 40px;
}