#contents{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);
    margin:auto;
    width: 80%;
    padding: 12px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
