.avatar-patient{
    width: 90px;
    height: 100px;
    border-radius: 50%;
    margin-top: 19px;
    display: block;
    object-fit: cover;
    position: relative;
    align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.patients {
  padding-left: 190px;
 }

 .patient-card{
  background-color: var(--background-color-4);
  border: none;
  margin-left: -110px;
  width: 100% ;
  border-radius: 20px;
  text-align: right;
}
.patients .btn-primary{
  width: 50%;
  margin-right: 90px;
  height: 40%;

}
.appointment-card{
  background-color: var(--background-color-4);
  border: none;
  margin-top:120px;
  margin-left:100px;
  width: 50% ;
  border-radius: 20px;
  text-align: right;
  padding: 100px 20px;
}
/* .patient .card .card-title{
  margin-top: -70px;
} */
.patient-name{
  margin-top:-90px;
  margin-left: 90px;
}
.appointment-name{
  margin-top:-92px;
  /* margin-right: 130px; */
  text-align:center;
}
.appointment-history{
  margin-top:-40px;
  margin-left:-95px;
}

@media screen and (max-width: 768px) {
    .patients{
        margin: 0 auto;
    }
    .patient .card .card-body{
        margin-left: 0px;
        text-align: center;
    }
    .patient .card .card-title{
        margin-top: 0px;
    }
    .patient .btn-primary{
        width: 100%;
    }
}