.doctor-dashboard .card-container {
    width: 400px;
    height: 90px;
    padding: 70 18px;
    position: relative;
    margin-top: 100px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0;
    background-color:gainsboro;
   position: relative;
  
}
.doctor-dashboard .content{
    font-size: 20px;
    background-color: gainsboro;
    text-align: center;
}
.doctor-dashboard .title{
    font-size: 27px;
    background-color: gainsboro;
    text-align: left;
    position: relative;
    left: 0;
     top: 10;
}
.doctor-dashboard .name{
    font-size: 21px;
    background-color: gainsboro;
    color: violet;
    text-align: center;
    margin-bottom: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
}
.doctor-dashboard .time-card {
    margin-top: 90px;
    margin-bottom: 180px;
    margin-left: 450px;
    padding: 80px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
  }
  .doctor-dashboard .first-card {
    margin-top: 90px;
    margin-bottom: 110px;
    margin-left: 130px;
    padding: 47px 170px;
    border: 1px solid #ccc;
    border-radius:27px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: 550px;
    height: '40px';
    float: left;
    position: relative;
    text-align: left;
  }
  .doctor-dashboard .titles{
    margin-top: 1px;
    margin-bottom: 10px;
    margin:"left";
    padding: 47px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: '500px';
    height: '40px';
    float: left;
    position: relative;
  
  }

  .doctor-dashboard .appointment-card{
    margin-top: 1px;
    margin-bottom: 90px;
    margin-left: 130px;
    padding: 40px 4px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: 1340px;
    height: 300px;
    float: left;
    position: relative;

  }
  .doctor-dashboard .first-appointment{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 1250px;
    border-radius: 25px;
    margin-right:800px;
    /* margin:left;
    padding: 10px 720px;
    border: 1px solid #ccc;
 
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: '500px';
    height: '40px';
    float: left;
    position: relative; */
  }
  .doctor-dashboard h1{
    margin-top: 20px;
    margin-bottom: 1px;
    margin-right: 200px;
    font-size: 30px;
    /* text-align: left; */
  }
  .doctor-dashboard .second-appointment{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 1250px;
    border-radius: 25px;
  }
  .doctor-dashboard .third-icon{
    color: blueviolet;
  }

  .doctor-dashboard .second-icon{
    color: orangered;
  }
  .doctor-dashboard .first-icon{
    color: green;
  }
  .doctor-dashboard .appointments-title{
    padding: 10px 10px ;
    margin-right: 270px;
  }
  .doctor-dashboard .profile1{
    color: violet;
  }
  .doctor-dashboard .profile2{
    color: violet;
  }
  .doctor-dashboard .profile3{
    color: violet;
  }
  
  