<<<<<<< HEAD
 .doctor-dashboard {
    background-color: #fff;
    height: 100vh;
 }
=======
.doctor-dashboard .card-container {
    width: 400px;
    height: 90px;
    padding: 70 18px;
    position: relative;
    margin-top: 100px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0;
    background-color:gainsboro;
   position: relative;
  
}
.doctor-dashboard .content{
    font-size: 20px;
    background-color: gainsboro;
    text-align: center;
}
.doctor-dashboard .title{
    font-size: 27px;
    background-color: gainsboro;
    text-align: left;
    position: relative;
    left: 0;
     top: 10;
}
.doctor-dashboard .name{
    font-size: 21px;
    background-color: gainsboro;
    color: violet;
    text-align: center;
    margin-bottom: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
}
.doctor-dashboard .time-card {
    margin-top: 90px;
    margin-bottom: 180px;
    margin-left: 450px;
    padding: 80px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
  }
  .doctor-dashboard .first-card {
    margin-top: 90px;
    margin-bottom: 110px;
    margin-left: 130px;
    padding: 47px 170px;
    border: 1px solid #ccc;
    border-radius:27px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: 550px;
    height: '40px';
    float: left;
    position: relative;
    text-align: left;
  }
  .doctor-dashboard .titles{
    margin-top: 1px;
    margin-bottom: 10px;
    margin:"left";
    padding: 47px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: '500px';
    height: '40px';
    float: left;
    position: relative;
  
  }

  .doctor-dashboard .appointment-card{
    margin-top: 1px;
    margin-bottom: 90px;
    margin-left: 130px;
    padding: 40px 4px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: 1340px;
    height: 300px;
    float: left;
    position: relative;

  }
  .doctor-dashboard .first-appointment{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 1250px;
    border-radius: 25px;
    margin-right:800px;
    /* margin:left;
    padding: 10px 720px;
    border: 1px solid #ccc;
>>>>>>> 7e5ccde32a987a248f7080aa0ddccb7c1d64e7f6
 
 
 .greeting.card{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 130%;
    color: #000;
    text-align: left;
}

.greeting.card .card-title{
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}

.greeting.card .card-title span{
    color: var(--light-purple);
}

.greeting.card .card-text{
    padding: 10px;
}

.time.card{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 250px;
    color: #000;
    text-align: center;
}

.time.card .card-title{
    text-transform: uppercase;
    font-size: 20px;
}

.time.card .card-text{
    font-size: 50px;
}

.phone-time{
    display: none;
}

.doctor-dashboard table{
    width: 180%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.doctor-dashboard tr, .doctor-dashboard td, .doctor-dashboard th{
    border: none;
}

.doctor-dashboard thead{
    background-color: none;
    color: #000;
    margin-bottom: 10px;
}

.doctor-dashboard tbody tr{
    border-radius: 30px;
}

.doctor-dashboard tbody td{
   padding: 30px;
}




/* Media */
@media screen and (max-width: 768px){
    .doctor-dashboard .doctor-container{
        margin-top:100px;
    }
    .greeting.card{
        width: 100%;
    }
    .greeting.card .card-title{
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
    }
    .time.card{
        display: none;
        
    }

    .phone-time{
        display: block;
    }

    .phone-time .card{
        background-color: var(--background-color-3);
        border: none;
        padding: 20px;
        width: 50%;
        margin: 0 auto;
    }

    .phone-time .card .card-title{
        font-size: 20px;
        text-transform: uppercase;
    }

    .phone-time .card .card-text{
        font-size: 30px;
    }
    
}