.first-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 150px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
}
.patients-card{
    margin-left: 720px;
}
.sec-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 470px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
}

.third-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 770px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
}
.fourth-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 1070px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
}
.fifth-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 1370px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
    display: flex;
}

.sixth-patient{
    margin-top: 1px;
    margin-bottom: 180px;
    margin-left: 1670px;
    padding: 97px 120px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  
    height: 40px;
    float: right;
    position: absolute;
    text-align: right;
    display: flex;
}