.avatar-patient{
    width: 90px;
    height: 100px;
    border-radius: 50%;
    margin-top: 59px;
    display: block;
    object-fit: cover;
    position: relative;
    align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.patients {
  padding-left: 190px;
 }

 .patient-card{
  /* background-color: white; */

  background-color: var(--background-color-4);
  border: none;
  margin-left: -30px;
  width: 100% ;
  border-radius: 20px;
  text-align: right;
}
.patients .btn-primary{
  width: 50%;
  margin-right: 90px;
  height: 40%;

}
.appointment-card{
  background-color: white;
  /* background-color: var(--background-color-4); */
  border: none;
  margin-top:60px;
  margin-left:30px;
  width: 45% ;
  border-radius: 20px;
  text-align: right;
  padding: 60px 30px;
  margin-bottom: 50px;
}
.patientdetails-card{
  background-color: var(--background-color-4);
  padding: 140px 70px;
  /* background-color: white; */

}
/* .patient .card .card-title{
  margin-top: -70px;
} */
/* .patient-body{
  text-align: left;
  margin-left: 100px;
} */
.a-patient-card{
  background-color: white;

  /* background-color: var(--background-color-4); */
  border: none;
  margin-left: -100px;
  width: 100% ;
  border-radius: 20px;
  text-align: right;
  margin-top: -150px;

}
.patient-name{
  margin-top:-100px;
  margin-right: 10px;
 

}
.a-patient-name{
  margin-top:-100px;
  margin-right: 82px;
 

}
.patient-location{
  text-align: left;
  margin-left: 150px;
  /* margin-top: -90px; */

}

.a-patient-location{
  text-align: left;
  margin-left: 230px;
  /* margin-top: -90px; */

}
.patient-age{
  text-align: left;
  margin-left: 150px;
  /* margin-top: -10px; */
}
.a-patient-age{
  text-align: left;
  margin-left: 230px;
  /* margin-top: -10px; */
}
.appointment-name{
  margin-top:-30px;
  /* margin-right: 130px; */
  text-align:center;
}
.appointment-history{
  margin-top:-20px;
  margin-left:-95px;
  background-color: white;
}
.appointment-body{
  background-color: white;
  text-align: left;
}
.diagnosis{
  text-align: right;
}

/* health-data */
.health-data {
  background-color: white;
  float: left; 
  height: 45%;
  width: 45%; 
  padding: 10px; 
  margin-top: -840px;
  margin-bottom: 100px;
  margin-left: 900px;
  /* background-color: var(--background-color-4); */
  /* border: none;
  margin-left: -200px;
  width: 100% ;
  border-radius: 20px; */
  text-align: right;
  padding: 100px 20px;

}
.health-title{
  margin-top:-80px;
  /* margin-right: 130px; */
  text-align:center;
}
.healthdata-table{
  margin-top:-30px;
  margin-left:-55px;
  background-color: white;
  border-radius: 25px;
}

/* medication */
.medication-card{
  background-color: white;
  float: left; 
  height: 45%;
  width: 45%; 
  padding: 10px; 
  margin-top: -600px;
  margin-bottom: 100px;
  margin-left: 900px;
  text-align: center;
  padding: 140px 20px;

}
.medication-title{
  margin-top:-100px;
  /* margin-right: 130px; */
  text-align:center;
}
.allergies-card{
  background-color: white;
  float: left; 
  height: 45%;
  width: 45%; 
  padding: 10px; 
  margin-top: -280px;
  margin-bottom: 100px;
  margin-left: 900px;
  text-align: center;
  padding: 140px 20px;
}
.allergies-ul{
  /* margin-top: -120px; */
}
.allergies-title{
  margin-top:-120px;
  /* margin-right: 130px; */
  text-align:center;
}
@media screen and (max-width: 768px) {
    .patients{
        margin: 0 auto;
    }
    .patient .card .card-body{
        margin-left: 0px;
        text-align: center;
    }
    .patient .card .card-title{
        margin-top: 0px;
    }
    .patient .btn-primary{
        width: 100%;
    }
}