.navbar-popup-content{
    margin: auto;
    background: transparent;
    border: none;
    width: 50%;
    padding: 5px;
    position: absolute;
    top: -150px;
    right: -700px;
  }
 .navbar-popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }

  .outline-success {
    width: 100%;
    padding: 5px 20px;
    outline: none;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .outline-success:hover {
        background: var(--primary-color);
        color: #fff;
    }

  .navbar-popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  /* Media */

    @media screen and (max-width: 768px) {
        .outline-success{
            width: 40%;
            margin-left: 130px;
            margin-top: -50px;
        }
        .navbar-popup-content {
        width: 100%;
        top: 200px;
        right: -100px;
        }
        .navbar-popup-overlay {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
        }
        .navbar-popup-btn{
            margin-bottom: 10px;
            width: 40%;
        }
    }