.partner .card{
    border-radius: 1rem;
    border: none;
}
.partner .card img{
    border-radius: 1rem;
}

.partner a{
    text-decoration: none;
    color: var(--black);
}

.partner a :hover{
    transform: scale(1.02);
}

.partner h5{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}