.sidecontentcontainer{
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
}

.patient-navbar{
    display: none;
}

.patient-time .card-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.patient-time .card-text{
    font-size: 40px;
    font-weight: 500;
}

.patient-homepage .patient-appointment .card-title{
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-color);
}
.patient-homepage .patient-appointment .card-text{
    font-size: 16px;
    font-weight:500;
}

.patient-homepage .patient-appointment .status{
    margin-left: 12px;
}


.sidecontent{
    margin-left: 150px;
}

.patient-homepage h1{
    margin-top: 1px;
    font-weight: 600;
}
.patient-homepage h1 span{
    color: var(--light-purple);
}

.patient-homepage .top-card .card{
    background-color: var(--background-color-3);
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-top: -50px;
}

.patient-homepage .specialist-home .card{
    background-color: var(--background-color-4);
    
}

.patient-homepage .specialist-home .card:hover{
    background: none;
    border: none;
}

.patient-homepage .specialist-home .card i{
    color: var(--primary-color);
    font-size: 60px;
    margin-top: 10px;
}

.patient-homepage .specialist-home .card-title{
    color: var(--primary-color);
    font-size: 17px;
    margin-top: 30px;
}

.patient-homepage .specialist-home a{
    text-decoration: none;
}

/* Media */

@media screen and (max-width: 768px){
    .sidecontent{
        margin-left: 0px;
    }

    .patient-homepage h1{
        margin-top: 80px;
        font-size: 19px;
    }

    .patient-navbar{
        display: block;
    }

}




