.sidecontentcontainer{
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
}

.sidecontent{
    margin-left: 150px;
}

.patient-homepage h1{
    margin-top: 1px;
}

.patient-homepage .top-card .card{
    background-color: var(--background-color-3);
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-top: -50px;
}

.specialist .card{
    background-color: var(--background-color-4);
    
}

.specialist .card:hover{
    background: none;
    border: none;
}

.specialist .card i{
    color: var(--primary-color);
    font-size: 60px;
    margin-top: 10px;
}

.specialist .card-title{
    color: var(--primary-color);
    font-size: 17px;
    margin-top: 30px;
}

.specialist a{
    text-decoration: none;
}




