.patient-sidebar{
    background-color: var(--primary-color);
    height: 100vh;
    border-radius: 5px;
    position: fixed;
  
}

 .sidebar-nav{
    display: none;
}

.patient-sidebar .list-group-item{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 10px;
    
}

.patient-sidebar .list-group-item i{
    font-size: 35px;
}
.patient-sidebar .list-group-item span{
    margin-top: 5px;
}


.patient-sidebar .list-group-item:hover{
    background-color: var(--light-purple);
}

.patient-sidebar .list-group-item.active{
    color: var(--secondary-color);
    border: none;
}

/* Media */
@media screen and (max-width: 768px){
    .patient-sidebar{
        display: none;
    }
    
    .sidebar-nav{
        display: block;
    }

}