.home{
    padding-top: 70px;
}

.home-title{
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 70px;
    text-align: left;
}

.home-text{
    text-align: left;
    line-height: 2;
    font-size: 17px;
    margin-top: 35px;
}

.home .btn-primary{
    margin-top: 35px;
}

/* Media */

@media screen and (max-width: 768px){
    .home{
        padding-top: 30px;
    }
    .home .btn-primary{
        width: 60%;
        margin-bottom: 20px;
    }
}



