.about{
   margin-top: 100px;
    height: 100vh;
}

.about .container{
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

#nurse{
    width:auto;
    height: 350px;
    padding-bottom: 40px;
}
 p{
   margin-top: 90px; 
   font-size: 20px;
 }

 h1 {
    text-align: center;
  }
  