@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700|Poppins:400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  } 
}


:root{
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
  --primary-color: #592c7b;
  --secondary-color: #e36e2c;
  --background-color-1: #f5f5f5;
  --background-color-2: #f6f3fa;
  --background-color-3: #faf8fc;
  --background-color-4: #eee7f6;
  --background-color-5: #dfd4ec;
  --dark-purple: #3a1258;
  --light-purple: #9263CB;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font) !important;
}

/* If device has custom font use that */
/* @font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap') format('woff');
} */

/* Primary button */

.btn-primary{
  width: 30%;
  height: 60px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--dark-purple);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-primary:hover{
  background-color: var(--light-purple);
  color: white;
}
.btn-primary:active:focus{
  outline: none;
  border: none;
  background-color: var(--dark-purple);
}


@media screen and (max-width: 768px){
    body{
      width: 100vw;
    }
}
